Source: timekpr-next-remote-daemon
Maintainer: Matthieu Berthomé <cheery.iron6016@fastmail.com>
Uploaders: Matthieu Berthomé <cheery.iron6016@fastmail.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7) | debhelper-compat (= 12),
               dh-python | python-support,
               gir1.2-gtk-3.0,
               python3 (>= 3.2),
               python3-poetry-core,
               python3-dbus,
               python3-gi
Standards-Version: 3.9.5
Homepage: https://github.com/rienafairefr/timekpr-next-remote
Rules-Requires-Root: no

Package: timekpr-next-remote-daemon
Architecture: any
Depends: timekpr-next,
         systemd | systemd-shim,
         ${misc:Depends},
         ${python3:Depends}
Provides: timekpr-remote
Description: Keep control of computer usage
 timekpr-next-remote-daemon
 This is a companion to Timekpr-nExT
 Enables remote operations through a self-hosted web-portal
